.red {
    color: #dc3545;
}


form {
    width: 400px;
}

.signup {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 5px #fff;
    cursor: pointer;
}

.signup:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 10px #fff;
    cursor: pointer;
}