{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">    

    {% if is_subscription_active %}
        <h1>You Subscription is active 🎉</h1>
        <p>Your batch timing is : <b>{{ profile.batch }}</b></p>
        <p>Active till : <b>{{ profile.subscription_end_date }}</b></p>
    {% else %}
        <h1>You don't have a active Subscription 😔</h1>
        <div class="payment-info">
            <p>Make payment to register for classes</p>
            <a href="/payment" class="btn btn-warning">Make Payment</a>
        </div>
    {% endif %}
        
{% endblock content %}
